<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: black;}
h1 {
    color: blue;
    text-align: center;
  }
  
p {
    color: red;
    font-family: verdana;
    font-size: 18px;
  }
  </style>
  </head>
  <body>


  }

  <h1>Red and Blue Page</h1>
  <p>Blue Text</p>
  
  </body>
  </html>
